USE [master]
GO
/****** Object:  Database [VTS]    Script Date: 18-08-2020 10:21:05 ******/
CREATE DATABASE [VTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VTS', FILENAME = N'C:\VTS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VTS_log', FILENAME = N'C:\VTS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VTS]
GO
USE [VTS]
GO
/****** Object:  Table [dbo].[TBL_DEVICE]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DEVICE](
	[DEVICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEVICE_SR_NUMBER] [varchar](200) NOT NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DEVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](200) NOT NULL,
	[MOBILE_NUMBER] [varchar](15) NULL,
	[ORGANIZATION] [varchar](400) NULL,
	[ADDRESS] [varchar](400) NULL,
	[EMAIL_ADDRESS] [varchar](100) NULL,
	[LOCATION] [varchar](200) NULL,
	[PHOTO_PATH] [varchar](400) NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATETIME] [datetime] NULL,
 CONSTRAINT [PK_TBL_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VEHICLE]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VEHICLE](
	[VEHICLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_NUMBER] [varchar](12) NOT NULL,
	[VEHICLE_TYPE] [varchar](10) NULL,
	[CHASSIS_NUMBER] [varchar](30) NULL,
	[ENGINE_NUMBER] [varchar](30) NULL,
	[MANUFACTURING_YEAR] [char](4) NULL,
	[LOAD_CARRYING_CAPACITY] [float] NULL,
	[MAKE_OF_VEHICLE] [varchar](30) NULL,
	[MODEL_NUMBER] [varchar](30) NULL,
	[BODY_TYPE] [varchar](20) NULL,
	[ORGANISATION_NAME] [varchar](100) NULL,
	[DEVICE_ID] [int] NOT NULL,
	[USER_ID] [int] NOT NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATETIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VEHICLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_DEVICE] ON 

INSERT [dbo].[TBL_DEVICE] ([DEVICE_ID], [DEVICE_SR_NUMBER], [UPDATED_BY], [UPDATED_DATETIME]) VALUES (1, N'1234567890', 1, CAST(N'2020-08-18T20:01:28.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_DEVICE] OFF
SET IDENTITY_INSERT [dbo].[TBL_USER] ON 

INSERT [dbo].[TBL_USER] ([USER_ID], [NAME], [MOBILE_NUMBER], [ORGANIZATION], [ADDRESS], [EMAIL_ADDRESS], [LOCATION], [PHOTO_PATH], [UPDATED_BY], [UPDATED_DATETIME]) VALUES (1, N'Abhijit Shinde', N'9850409416', N'Arya', N'Pune', N'abhijitshinde121@gmail.com', N'Pune', NULL, 1, CAST(N'2020-08-18T19:31:56.513' AS DateTime))
INSERT [dbo].[TBL_USER] ([USER_ID], [NAME], [MOBILE_NUMBER], [ORGANIZATION], [ADDRESS], [EMAIL_ADDRESS], [LOCATION], [PHOTO_PATH], [UPDATED_BY], [UPDATED_DATETIME]) VALUES (2, N'Abhijit Ashok Shinde', N'9850409416', N'Arya', N'Pune', N'abhijitshinde121@gmail.com', N'Pune', NULL, 1, CAST(N'2020-08-18T19:36:02.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_USER] OFF
SET IDENTITY_INSERT [dbo].[TBL_VEHICLE] ON 

INSERT [dbo].[TBL_VEHICLE] ([VEHICLE_ID], [VEHICLE_NUMBER], [VEHICLE_TYPE], [CHASSIS_NUMBER], [ENGINE_NUMBER], [MANUFACTURING_YEAR], [LOAD_CARRYING_CAPACITY], [MAKE_OF_VEHICLE], [MODEL_NUMBER], [BODY_TYPE], [ORGANISATION_NAME], [DEVICE_ID], [USER_ID], [UPDATED_BY], [UPDATED_DATETIME]) VALUES (1, N'MH12ZZ0001', N'VT1', N'1234567890', N'1234567890', N'2002', 2000, N'MOV', N'MN', N'BT', N'Tata', 1, 1, 1, CAST(N'2020-08-18T20:46:58.003' AS DateTime))
INSERT [dbo].[TBL_VEHICLE] ([VEHICLE_ID], [VEHICLE_NUMBER], [VEHICLE_TYPE], [CHASSIS_NUMBER], [ENGINE_NUMBER], [MANUFACTURING_YEAR], [LOAD_CARRYING_CAPACITY], [MAKE_OF_VEHICLE], [MODEL_NUMBER], [BODY_TYPE], [ORGANISATION_NAME], [DEVICE_ID], [USER_ID], [UPDATED_BY], [UPDATED_DATETIME]) VALUES (2, N'MH13ZZ0001', N'VT2', N'9234567890', N'91234567890', N'2002', 2000, N'MOV', N'MN', N'BT', N'Tata', 1, 1, 1, CAST(N'2020-08-18T20:47:21.403' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBL_VEHICLE] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_DEVI__6B674432340BCDE7]    Script Date: 18-08-2020 10:21:06 ******/
ALTER TABLE [dbo].[TBL_DEVICE] ADD UNIQUE NONCLUSTERED 
(
	[DEVICE_SR_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TBL_USER]    Script Date: 18-08-2020 10:21:06 ******/
ALTER TABLE [dbo].[TBL_USER] ADD  CONSTRAINT [IX_TBL_USER] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TBL_VEHI__FF77A2D745733F5D]    Script Date: 18-08-2020 10:21:06 ******/
ALTER TABLE [dbo].[TBL_VEHICLE] ADD UNIQUE NONCLUSTERED 
(
	[VEHICLE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_DEVICE] ADD  CONSTRAINT [DF_TBL_DEVICE_UPDATED_DATETIME]  DEFAULT (getdate()) FOR [UPDATED_DATETIME]
GO
ALTER TABLE [dbo].[TBL_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_VEHICLE_TBL_DEVICE] FOREIGN KEY([DEVICE_ID])
REFERENCES [dbo].[TBL_DEVICE] ([DEVICE_ID])
GO
ALTER TABLE [dbo].[TBL_VEHICLE] CHECK CONSTRAINT [FK_TBL_VEHICLE_TBL_DEVICE]
GO
ALTER TABLE [dbo].[TBL_VEHICLE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_VEHICLE_TBL_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[TBL_VEHICLE] CHECK CONSTRAINT [FK_TBL_VEHICLE_TBL_USER]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_USER]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PROC_ADD_USER]  
@NAME	VARCHAR(200),
@MOBILE_NUMBER	VARCHAR(15),
@ORGANIZATION	VARCHAR(400),
@ADDRESS	VARCHAR(400),
@EMAIL_ADDRESS	VARCHAR(100),
@LOCATION	VARCHAR(200),

@UPDATED_BY INT,

@NEW_USER_ID INT =0 OUTPUT
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  

	 
	 IF EXISTS(SELECT 1 FROM TBL_USER WHERE NAME = @NAME)  
	 BEGIN  
	  ;THROW 50000, 'USER WITH GIVEN LOGIN NAME ALREADY EXISTS', 1;  
	 END;  
  
	 INSERT INTO TBL_USER
	 (
		NAME, MOBILE_NUMBER, ORGANIZATION, ADDRESS, EMAIL_ADDRESS, LOCATION, UPDATED_BY, UPDATED_DATETIME
	 )  
	 VALUES
	 (
		@NAME, @MOBILE_NUMBER, @ORGANIZATION, @ADDRESS, @EMAIL_ADDRESS, @LOCATION, @UPDATED_BY, GETDATE()
	 );  
  
	 SELECT @NEW_USER_ID=SCOPE_IDENTITY();  


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_VEHICLE]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[PROC_ADD_VEHICLE]  
@VEHICLE_NUMBER	VARCHAR(12),
@VEHICLE_TYPE	VARCHAR(10),
@CHASSIS_NUMBER	VARCHAR(30),
@ENGINE_NUMBER	VARCHAR(30),
@MANUFACTURING_YEAR	CHAR(4),
@LOAD_CARRYING_CAPACITY	FLOAT,
@MAKE_OF_VEHICLE	VARCHAR(30),
@MODEL_NUMBER	VARCHAR(30),
@BODY_TYPE	VARCHAR(20),
@ORGANISATION_NAME	VARCHAR(100),

@DEVICE_ID	INT,
@USER_ID	INT,

@UPDATED_BY INT,

@NEW_VEHICLE_ID INT =0 OUTPUT
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  

	 
	 IF EXISTS(SELECT 1 FROM TBL_VEHICLE WHERE VEHICLE_NUMBER = @VEHICLE_NUMBER)  
	 BEGIN  
	  ;THROW 50000, 'VEHICLE WITH GIVEN VEHICLE NUMBER ALREADY EXISTS', 1;  
	 END;  
  
	 INSERT INTO TBL_VEHICLE
	 (
		DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
		LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME, UPDATED_BY, UPDATED_DATETIME
	 )  
	 VALUES
	 (
		@DEVICE_ID, @USER_ID, @VEHICLE_NUMBER, @VEHICLE_TYPE, @CHASSIS_NUMBER, @ENGINE_NUMBER, @MANUFACTURING_YEAR, 
		@LOAD_CARRYING_CAPACITY, @MAKE_OF_VEHICLE, @MODEL_NUMBER, @BODY_TYPE, @ORGANISATION_NAME, @UPDATED_BY, GETDATE()
	 );  
  
	 SELECT @NEW_VEHICLE_ID=SCOPE_IDENTITY();  


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USERS]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_USERS]
AS
SET NOCOUNT ON;
BEGIN
	SELECT USER_ID,NAME,MOBILE_NUMBER,ORGANIZATION,ADDRESS,EMAIL_ADDRESS,LOCATION,PHOTO_PATH
	FROM TBL_USER;
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VEHICLES]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_VEHICLES]
AS
SET NOCOUNT ON;
BEGIN
		SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
		LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
		FROM TBL_VEHICLE;
END;
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VEHICLES_FOR_SEARCH]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  [PROC_GET_VEHICLES_FOR_SEARCH] 'MH13','','','','',0,10,2

CREATE PROCEDURE [dbo].[PROC_GET_VEHICLES_FOR_SEARCH]
@VEHICLE_NUMBER	VARCHAR(12) = '',
@VEHICLE_TYPE	VARCHAR(10) = '',
@CHASSIS_NUMBER	VARCHAR(30) = '',
@ENGINE_NUMBER	VARCHAR(30) = '',
@MANUFACTURING_YEAR	VARCHAR(4) = '',

@USER_ID INT = 0,	

@PAGESIZE INT = 10,
@PAGENO INT = 1
AS
SET NOCOUNT ON;
BEGIN
		
		DECLARE @SQL_QUERY VARCHAR(4000)='';

		IF @PAGESIZE=0
		BEGIN	

			SET @SQL_QUERY ='
				SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
				LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
				FROM TBL_VEHICLE
				WHERE (('''+CAST(@VEHICLE_NUMBER AS VARCHAR)+'''='''') OR (VEHICLE_NUMBER LIKE ''%'+CAST(@VEHICLE_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@VEHICLE_TYPE AS VARCHAR)+'''='''') OR (VEHICLE_TYPE LIKE ''%'+CAST(@VEHICLE_TYPE AS VARCHAR)+'%''))
				AND (('''+CAST(@CHASSIS_NUMBER AS VARCHAR)+'''='''') OR (CHASSIS_NUMBER LIKE ''%'+CAST(@CHASSIS_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@ENGINE_NUMBER AS VARCHAR)+'''='''') OR (ENGINE_NUMBER LIKE ''%'+CAST(@ENGINE_NUMBER AS VARCHAR)+'%''))
				AND (('''+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''='''') OR (MANUFACTURING_YEAR LIKE ''%'+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''))
				AND (('+CAST(@USER_ID AS VARCHAR)+'=0) OR (USER_ID ='+CAST(@USER_ID AS VARCHAR)+'))
				ORDER BY VEHICLE_NUMBER
			';

		END
		ELSE
		BEGIN	
			
			SET @SQL_QUERY ='
				;WITH NUMBEREDLIST AS
				(
					SELECT ROW_NUMBER() OVER (ORDER BY VEHICLE_NUMBER) AS RECNO, COUNT(*) OVER() AS NOOFRECORDS,
					VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
					LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
					FROM TBL_VEHICLE
					WHERE (('''+CAST(@VEHICLE_NUMBER AS VARCHAR)+'''='''') OR (VEHICLE_NUMBER LIKE ''%'+CAST(@VEHICLE_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@VEHICLE_TYPE AS VARCHAR)+'''='''') OR (VEHICLE_TYPE LIKE ''%'+CAST(@VEHICLE_TYPE AS VARCHAR)+'%''))
					AND (('''+CAST(@CHASSIS_NUMBER AS VARCHAR)+'''='''') OR (CHASSIS_NUMBER LIKE ''%'+CAST(@CHASSIS_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@ENGINE_NUMBER AS VARCHAR)+'''='''') OR (ENGINE_NUMBER LIKE ''%'+CAST(@ENGINE_NUMBER AS VARCHAR)+'%''))
					AND (('''+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''='''') OR (MANUFACTURING_YEAR LIKE ''%'+CAST(@MANUFACTURING_YEAR AS VARCHAR)+'''))
					AND (('+CAST(@USER_ID AS VARCHAR)+'=0) OR (USER_ID ='+CAST(@USER_ID AS VARCHAR)+'))
				)
				SELECT VEHICLE_ID, DEVICE_ID, USER_ID, VEHICLE_NUMBER, VEHICLE_TYPE, CHASSIS_NUMBER, ENGINE_NUMBER, MANUFACTURING_YEAR, 
				LOAD_CARRYING_CAPACITY, MAKE_OF_VEHICLE, MODEL_NUMBER, BODY_TYPE, ORGANISATION_NAME
				FROM NUMBEREDLIST
				WHERE RECNO BETWEEN ((('+CAST(@PAGENO AS VARCHAR)+' - 1) * '+CAST(@PAGESIZE AS VARCHAR)+') + 1) 
				AND ('+CAST(@PAGENO AS VARCHAR)+' * '+CAST(@PAGESIZE AS VARCHAR)+')
				ORDER BY RECNO
				';


		END

		EXEC (@SQL_QUERY)

END;



GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_UPDATE_USER]  
@USER_ID INT,
@NAME	VARCHAR(200),
@MOBILE_NUMBER	VARCHAR(15),
@ORGANIZATION	VARCHAR(400),
@ADDRESS	VARCHAR(400),
@EMAIL_ADDRESS	VARCHAR(100),
@LOCATION	VARCHAR(200),

@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  

	 IF EXISTS(SELECT 1 FROM TBL_USER WHERE NAME = @NAME AND USER_ID<>@USER_ID )  
	 BEGIN  
	  ;THROW 50000, 'USER WITH GIVEN LOGIN NAME ALREADY EXISTS', 1;  
	 END;  
  

	UPDATE TBL_USER 
	SET NAME=@NAME, MOBILE_NUMBER=@MOBILE_NUMBER,
	ORGANIZATION=@MOBILE_NUMBER, ADDRESS=@ADDRESS,
	EMAIL_ADDRESS=@EMAIL_ADDRESS, LOCATION=@LOCATION,
	UPDATED_BY = @UPDATED_BY, UPDATED_DATETIME = GETDATE()
	WHERE USER_ID = @USER_ID;


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER_PROFILE_IMAGE]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_UPDATE_USER_PROFILE_IMAGE]  
@USER_ID INT,
@PHOTO_PATH	VARCHAR(400),

@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  
	
	UPDATE TBL_USER 
	SET PHOTO_PATH=PHOTO_PATH,
	UPDATED_BY = @UPDATED_BY, UPDATED_DATETIME = GETDATE()
	WHERE USER_ID = @USER_ID;


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_VEHICLE]    Script Date: 18-08-2020 10:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[PROC_UPDATE_VEHICLE]  
@VEHICLE_ID INT,

@VEHICLE_NUMBER	VARCHAR(12),
@VEHICLE_TYPE	VARCHAR(10),
@CHASSIS_NUMBER	VARCHAR(30),
@ENGINE_NUMBER	VARCHAR(30),
@MANUFACTURING_YEAR	CHAR(4),
@LOAD_CARRYING_CAPACITY	FLOAT,
@MAKE_OF_VEHICLE	VARCHAR(30),
@MODEL_NUMBER	VARCHAR(30),
@BODY_TYPE	VARCHAR(20),
@ORGANISATION_NAME	VARCHAR(100),

@DEVICE_ID	INT,
@USER_ID	INT,

@UPDATED_BY INT
AS  
SET NOCOUNT ON;  
BEGIN TRY
	BEGIN TRAN Trans  

	 IF EXISTS(SELECT 1 FROM TBL_VEHICLE WHERE VEHICLE_NUMBER = @VEHICLE_NUMBER AND VEHICLE_ID<>@VEHICLE_ID )  
	 BEGIN  
	  ;THROW 50000, 'VEHICLE WITH GIVEN VEHICLE NUMBER ALREADY EXISTS', 1;  
	 END;  
  

	UPDATE TBL_VEHICLE 
	SET VEHICLE_NUMBER=@VEHICLE_NUMBER, VEHICLE_TYPE=@VEHICLE_TYPE,
	CHASSIS_NUMBER=@CHASSIS_NUMBER, ENGINE_NUMBER=@ENGINE_NUMBER,
	MANUFACTURING_YEAR=@MANUFACTURING_YEAR, LOAD_CARRYING_CAPACITY=@LOAD_CARRYING_CAPACITY,
	MAKE_OF_VEHICLE=@MAKE_OF_VEHICLE, MODEL_NUMBER=@MODEL_NUMBER,
	BODY_TYPE=@BODY_TYPE, ORGANISATION_NAME=@ORGANISATION_NAME,
	DEVICE_ID=@DEVICE_ID, USER_ID=@USER_ID,
	UPDATED_BY = @UPDATED_BY, UPDATED_DATETIME = GETDATE()
	WHERE VEHICLE_ID = @VEHICLE_ID;


	COMMIT TRAN Trans
END TRY
BEGIN CATCH
		IF @@TRANCOUNT > 0  
            ROLLBACK TRAN Trans

        DECLARE @ERROR_SEVERITY INT, @ERROR_NO INT, @ERROR_MSG NVARCHAR(4000), @ERROR_STATE INT  
        SET @ERROR_SEVERITY = ERROR_SEVERITY()  
        SET @ERROR_NO = ERROR_NUMBER()  
        SET @ERROR_MSG = ERROR_MESSAGE()  
        SET @ERROR_STATE = ERROR_STATE()  
  		
        -- Not all errors generate an error state, to set to 1 if it's zero  
        IF @ERROR_STATE  = 0  
            SET @ERROR_STATE = 1  

        --RAISERROR (@ERROR_MSG , @ERROR_SEVERITY, @ERROR_STATE, @ERROR_NO)  
		
		;THROW 50000,@ERROR_MSG,1;

END CATCH;




GO
USE [master]
GO
